body {
    overflow-x: hidden;
}

.header {
    width: 100%;
    background-color: #FFF;
}

.header_container {
    max-width: 1384px;
    padding: 24px 0px;
    margin: 0 auto;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 101px;
    height: 27px;
}

.menu_list {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.menu_list_link {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.187;
    letter-spacing: 0.1px;
}

.btn {
    padding: 12px 24px;
    background-color: #000;
    border-radius: 32px;
}

.btn span {
    color: #F3F3F3;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

.burger {
    width: 25px;
    height: 25px;
}

.head {
    width: 100%;
    background-color: #FFF;
}

.head_container {
    max-width: 1110px;
    padding: 64px 0px;
    margin: 0 auto;
}

.head_wrapper {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.content_left {
    display: flex;
    flex-direction: column;
}

.content_left_title {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    font-weight: 900;
    line-height: 1.07;
    letter-spacing: -1px;
    margin-bottom: 24px;
}

.content_left_desc {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.555;
    margin-bottom: 40px;
}

.purchased {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.purchased h4 {
    width: 236px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.428;
}

.content_right img {
    border-radius: 12px;
}

.features {
    width: 100%;
    background-color: #F3F3F3;
}

.features_container {
    max-width: 1110px;
    padding: 64px 0px;
    margin: 0 auto;
}

.features_wrapper {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.feature_card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.card_icon_title {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.card_icon_title img {
    width: 40px;
    height: 40px;
}

.card_title {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.555;
}

.card_desc p {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

.headline {
    width: 100%;
    background-color: #000;
}

.headline_container {
    max-width: 1110px;
    padding: 96px 0px;
    margin: 0 auto;
}

.headline_wrapper {
    display: flex;
    align-items: center;
    column-gap: 133px;
}

.headline_left img {
    border-radius: 12px;
}

.headline_right {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.headline_right_title {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.33;
    letter-spacing: -0.1px;
}

.headline_right_desc {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

.headline_right_desc_list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.headline_right_desc_list p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

.headline_cover {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headline_cover img {
    width: 100%;
}

.headline_cover_content {
    position: absolute;
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.headline_cover_content h4 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

.headline_cover_content h2 {
    text-align: center;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -0.5px;
}

.headline_cover_btn {
    padding: 8px 16px;
    background-color: #F3F3F3;
    border-radius: 24px;
}

.headline_cover_btn span {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

.footer {
    width: 100%;
    background-color: #000;
}

.footer_container {
    max-width: 1110px;
    padding: 96px 0px;
    margin: 0 auto;
}

.footer_wrapper {
    display: flex;
}

.column_subscribe {
    display: flex;
}

.column {
    width: 228px;
    min-height: 144px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.column_head {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

.item_title {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.column_title {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.428;
}

.subscribe {
    width: 228px;
    height: 88px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.subscribe_head {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

.subscribe_title {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.428;
    opacity: 0.4;
}

